<!-- 
    templates/registration/password_reset_done.html
    Upon successful password reset submission, 
    we're redirected to the Password reset done page which is also ugly. 
    Let's change it. The default template is located at 
    templates/registration/password_reset_done.html. 
    So as before, create a new template file at this 
    location and then add the following code: 

-->
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
  <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock %}